body {
background-color: black;
}
.calculatorBody {
    font-size: 0;
    text-align: center;
}

button {
    display: inline-block;
    height: 50px;
    width: 70px;
    border: 1px solid green;
    font-size: 15px;
}

#clear, #CE {
    width: 105px;
    height: 50px;
}

#equals, #plus, #minus, #times, #slash {
    width: 60px;
}

#display {
    background-color: white;
    display: flexbox;
    min-height: 100px;
    font-size: 80px;
    border: 10px;
    border-style: groove;
    margin-left: 380px;
    margin-right: 380px;
}

#clear, #one, #four, #seven, #zero {
    
}

